<template>
  <q-page dark>
    <div class="container">
      <q-table
        dark
        title="Patient List"
        class="patientsTable bg-grey3"
        virtual-scroll
        :pagination.sync="pagination"
        :rows-per-page-options="[0]"
        :virtual-scroll-sticky-size-start="48"
        :data="data"
        :columns="columns"
        :filter="filter"
        :separator="separator"
        row-key="id"
      >
        <template v-slot:top-right>
          <div class="search_block">
            <div class="search_text">quick search</div>
            <q-input dark hide-bottom-space borderless dense debounce="300" v-model="filter" placeholder="Search by Patient Name, ID or DOB ...">
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>
          </div>
        </template>
        <template v-slot:header="props">
          <q-tr :props="props">

            <q-th
              v-for="col in props.cols"
              :key="col.name"
              :props="props"
            >
              {{ col.label }}
            </q-th>
            <q-th>
              Actions
            </q-th>
          </q-tr>
        </template>
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td
                v-for="col in props.cols"
                :key="col.name"
                :props="props"
                @click="nextPage(props.row)"
              >
                {{ col.value }}
              </q-td>
              
              <q-td 
                class="table_item"
                auto-width
              >
              <q-btn-dropdown
                class="actions-btn"
                icon="settings"
                @click ="checkStatus"
              >
                <div class="column bg-dark no-wrap dropdown_container">
                  <q-btn
                      color="negative"
                      icon="restore_from_trash"
                      class="col"
                      @click="onDelete(props.key)"
                  />
                  
                  <q-btn
                      color="blue"
                      label="See Report"
                      size="sm"
                      class="col"
                      dense
                  />
                  <div id="status" dense dark class="status col">
                    <p v-bind:style="{ color: statusColor}" >{{ status }}</p>
                  </div>
                </div>
              </q-btn-dropdown>
            </q-td>
          </q-tr>
          
        </template>
      </q-table>
    <div>
    </div>
  </div>
  </q-page>
</template>

<script>
import patientsData from '../assets/patients.json'
console.log(patientsData);


const data = patientsData.patients
data.forEach((row, index) => {
  row.index = index + 1
})
export default {
  name: 'PageIndex',
  methods: {
    nextPage: function(patient){
      // console.log(props)
      this.$store.commit('selectPatient', {patient})
      this.$router.push("/patient/"+ patient.id)
    },
    onDelete: function(Patientid){
      let newData = []
      this.data.forEach((row, index) => {
        if (row.id != Patientid) {
          newData.push(this.data[index])
        }
      })
      this.data = newData
      this.data.forEach((row, index) => {
        row.index = index + 1
      })
    },
    checkStatus: function(){
      let statusValue = ['None', 'In Progress', 'Computing', 'Done']
      let color = ['grey', 'blue', 'yellow', 'green']
      let random = Math.floor(Math.random() * Math.floor(4));
      this.status = statusValue[random]
      this.statusColor = color[random]
    },

  },
  data () {
    return {
      status: 'none',
      statusColor: 'white',
      patientName: '',
      separator: 'horizontal',
      pagination: {
        rowsPerPage: 0
      },
      cancelEnabled: false,
      filter: '',
      columns: [
        {
          name: 'index',
          label: '#',
          field: 'index'
        },
        { name: 'name', align: 'center', label: 'Name', field: 'name', sortable: true},
        { name: 'id', align: 'center', label: 'ID', field: 'id', sortable: true},
        { name: 'dob', label: 'DOB', field: 'dob', sortable: true},
        { name: 'date', label: 'Date', field: 'date', sortable: true },
        { name: 'time', label: 'Time', field: 'time', sortable: true },
        { name: 'protocol', label: 'Protocol', field: 'protocol', sortable: true }
      ],
      data
    }
  },
}
</script>

<style lang="sass">



.container
  height: calc(100vh - 50px) 
  background-color: black;
.patientsTable
  .table_item
    padding 0
  .actions-btn
    width: 100%
    height: 100%
       
  background-color: secondary
  /* height or max-height is important */
  height: 100%
  .search_block
     width: 18rem;
     color: white
     .search_text
      text-transform: uppercase;
      font-size: 11px;   
    
  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th /* bg color is important for th; just specify one */
    background-color: #393e3d;

  thead tr th
    position: sticky
    z-index: 1
  /* this will be the loading indicator */
  thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
  thead tr:first-child th
    top: 0


.dropdown_container
  height: 100px
  .q-btn
    border-radius: 0
  .status
    background-color: $grey-5
    font-weight: 600
    height: 30px; 
    
    margin: 0
    text-align: center
    p 
      font-size: 12px;
      margin: 0;
      margin-top: 7px;
</style>
