<template>
    <div class="absolute-top text-left patient-info">
        <div class="patient-info_property">
          <div>Name:</div>
          <div>ID:</div>
          <div>DOB:</div>
          <div>View:</div>
        </div>
        <div>
          <div>{{clientInfo.name}}</div>
          <div>{{clientInfo.id}}</div>
          <div>{{clientInfo.dob}}</div>
          <div>{{viewType[view]}}</div>
        </div>
    </div>
</template>

<script>
//console.log("Short info")
export default {
  props: ["clientInfo", "view"],
  data(){
    return {
      viewType: ['Axial','3D','Sagittal','Coronal']
    }
  },
  created(){
    console.log("Short info")
  }
}
</script>