<template>
  <div class="vtkcontainer"  :id = vtkid></div>
</template>

<script>
import macro from 'vtk.js/Sources/macro'
import vtkGenericRenderWindow from 'vtk.js/Sources/Rendering/Misc/GenericRenderWindow';
import vtkFullScreenRenderWindow from 'vtk.js/Sources/Rendering/Misc/FullScreenRenderWindow';
import vtkActor from 'vtk.js/Sources/Rendering/Core/Actor';
import vtkMapper from 'vtk.js/Sources/Rendering/Core/Mapper';
import vtkConeSource from 'vtk.js/Sources/Filters/Sources/ConeSource';

import vtkVolume from 'vtk.js/Sources/Rendering/Core/Volume';
import vtkVolumeMapper from 'vtk.js/Sources/Rendering/Core/VolumeMapper';
import vtkHttpDataSetReader from 'vtk.js/Sources/IO/Core/HttpDataSetReader';
import vtkXMLImageDataReader from 'vtk.js/Sources/IO/XML/XMLImageDataReader';

import vtkColorTransferFunction from 'vtk.js/Sources/Rendering/Core/ColorTransferFunction';
import vtkPiecewiseFunction from 'vtk.js/Sources/Common/DataModel/PiecewiseFunction';
import vtkColorMaps from 'vtk.js/Sources/Rendering/Core/ColorTransferFunction/ColorMaps';

import vtkImageCroppingWidget from 'vtk.js/Sources/Widgets/Widgets3D/ImageCroppingWidget';
import vtkImageCropFilter from 'vtk.js/Sources/Filters/General/ImageCropFilter';
import vtkWidgetManager from 'vtk.js/Sources/Widgets/Core/WidgetManager';


export default {
  name: 'PageIndex',
  props: ['vtkid','croppingVisibility'],
  data: function() {

    return {
      //url: require('../../statics/quarter.vti') 
    }
  },
  beforeDestroy() {
    console.log('before destroy', this);
    if(this.croppingVisibility){
      this.$store.dispatch('setCropp3dModel', this.cropState.getPlanes())
    }
    // this.cropState.onModified(() => {
    //   console.log(3333333333333333);
      
    // });

  },
  mounted() {
    console.log("Start")
    //let url1 = require('../../statics/quarter.vti')
    console.log(this.$store.state.croppedPlanes)
    // this.fullscreenRenderWindow = vtkFullScreenRenderWindow.newInstance({
    //   rootContainer: document.querySelector('#vtkcontainer'),
    //   containerStyle: {},
    // });
    //const container = document.querySelector('#vtkcontainer');
    const container = document.querySelector('#' + this.vtkid);
    const fullscreenRenderWindow = vtkGenericRenderWindow.newInstance({background: [0, 0, 0],});
    fullscreenRenderWindow.setContainer(container);
    fullscreenRenderWindow.resize();

    // const renderer = genericRenderWindow.getRenderer();
    // const renderWindow = genericRenderWindow.getRenderWindow();


    const renderer = fullscreenRenderWindow.getRenderer();
    const renderWindow = fullscreenRenderWindow.getRenderWindow();
    const actor = vtkVolume.newInstance();
    const mapper = vtkVolumeMapper.newInstance();

    this.reader = vtkXMLImageDataReader.newInstance();

    //const source = vtkConeSource.newInstance({ height: 1.0 });
    actor.setMapper(mapper);

    const piecewiseFun = vtkPiecewiseFunction.newInstance();
    const lookupTable = vtkColorTransferFunction.newInstance();

    lookupTable.applyColorMap(vtkColorMaps.getPresetByName('Cool to Warm'));
    lookupTable.setMappingRange(0, 256);
    lookupTable.updateRange();

    for (let i = 0; i <= 8; i++) {
      piecewiseFun.addPoint(i * 32, i / 8);
    }
    actor.getProperty().setRGBTransferFunction(0, lookupTable);
    actor.getProperty().setScalarOpacity(0, piecewiseFun);
    lookupTable.addRGBPoint(0, 85 / 255.0, 0, 0);
    lookupTable.addRGBPoint(95, 1.0, 1.0, 1.0);
    lookupTable.addRGBPoint(225, 0.66, 0.66, 0.5);
    lookupTable.addRGBPoint(255, 0.3, 1.0, 0.5);

    actor.getProperty().setRGBTransferFunction(0, lookupTable);;
    actor.getProperty().setInterpolationTypeToLinear();
    actor.getProperty().setUseGradientOpacity(0, true);
    actor.getProperty().setGradientOpacityMinimumValue(0, 2);
    actor.getProperty().setGradientOpacityMinimumOpacity(0, 0.0);
    actor.getProperty().setGradientOpacityMaximumValue(0, 20);
    actor.getProperty().setGradientOpacityMaximumOpacity(0, 1.0);
    actor.getProperty().setShade(true);
    actor.getProperty().setAmbient(0.2);
    actor.getProperty().setDiffuse(0.7);
    actor.getProperty().setSpecular(0.3);
    actor.getProperty().setSpecularPower(8.0);

    //mapper.setInputConnection(reader.getOutputPort());
    const widgetManager = vtkWidgetManager.newInstance();
    widgetManager.setRenderer(renderer);

    // this is a widget factory
    const widget = vtkImageCroppingWidget.newInstance();
    // this is an instance of a widget associated with a renderer
    const viewWidget = widgetManager.addWidget(widget);

    // --- set up crop filter

    const cropFilter = vtkImageCropFilter.newInstance();
    // we listen to cropping widget state to inform the crop filter
    this.cropState = widget.getWidgetState().getCroppingPlanes();
    // this.cropState.onModified(() => {
    //   let planes = this.cropState.getPlanes()
    //   console.log("Modified")
    //   console.log(this.cropState.getPlanes())
    //   if(this.croppingVisibility && count != 0){
    //     //this.$store.dispatch('setCropp3dModel', planes)
    //     cropFilter.setCroppingPlanes(planes)
    //   } else {
    //     cropFilter.setCroppingPlanes(planes)
    //     count = count + 1
    //   }
    //   // if(this.$store.state.croppedPlanes.length == 0){
    //   //   //cropFilter.setCroppingPlanes(this.$store.state.croppedPlanes)
    //   //   cropFilter.setCroppingPlanes(planes)
    //   // } else cropFilter.setCroppingPlanes(this.$store.state.croppedPlanes)
    // }
    // );
    
    cropFilter.setInputConnection(this.reader.getOutputPort());
    mapper.setInputConnection(cropFilter.getOutputPort());

    //mapper.setInputConnection(reader.getOutputPort());
    // console.log(77777777777, require('../../statics/quarter.vti'))
    this.reader
      .setUrl('statics/quarter.vti')
      .then(() => this.reader.loadData())
      .then(() => {
        // --- Add volume actor to scene ---
        renderer.addVolume(actor);
        const range = this.reader.getOutputData().getPointData().getScalars().getRange();
        lookupTable.setMappingRange(...range);
        lookupTable.updateRange();

        // update crop widget and filter with image info
        const image = this.reader.getOutputData();
        if(this.croppingVisibility){
          cropFilter.setCroppingPlanes(...image.getExtent());
        }
        else {
          if(this.$store.state.croppedPlanes.length == 0){
            cropFilter.setCroppingPlanes(...image.getExtent())
          } else {
            console.log("Cropped")
            cropFilter.setCroppingPlanes(this.$store.state.croppedPlanes)
            }
        }

        widget.copyImageDataDescription(image);
        
        console.log("init onModified", this.croppingVisibility, this.vtkid)
        this.cropState.onModified((one, two) => {
          let planes = this.cropState.getPlanes()
          console.log("Modified", this.croppingVisibility, this.vtkid, one, two, this)
          console.log(this.cropState.getPlanes())
          if(this.croppingVisibility){
            console.log("Modified Crop")
            //this.$store.dispatch('setCropp3dModel', planes)
            cropFilter.setCroppingPlanes(planes)
          } else {
            cropFilter.setCroppingPlanes(planes)
          }
          // if(this.$store.state.croppedPlanes.length == 0){
          //   //cropFilter.setCroppingPlanes(this.$store.state.croppedPlanes)
          //   cropFilter.setCroppingPlanes(planes)
          // } else cropFilter.setCroppingPlanes(this.$store.state.croppedPlanes)
        }
        );

        // --- Reset camera and render the scene ---
        renderer.resetCamera();
        renderWindow.render();

        widget.set({ ['visibility']: this.croppingVisibility }); 
        widgetManager.enablePicking();
        renderWindow.render();
      });
  },
}
</script>

<style lang="sass" scoped>
#vtkcontainer
  width: 100%;
  height: 100%;
.vtkcontainer
  width: 100%;
  height: 100%;
</style>