<template>
    <div class="task_field">
        <p class="text-body1">To confirm the patient details are correct, select PROCEED. To go back, select CANCEL.</p>
    </div>
</template>
<script>
export default {
    methods: {
    }
}
</script>
<style lang="sass" scoped>

</style>