<template>
  <q-page>
    <div class="container">
      <div class="row view-area" style="">
        <div class="col-6 work-block-for-two">
          <PatientShortInfo v-bind="{clientInfo: patient, view: 0}"/>
          <q-img src="../../statics/cardiacCT.png"
            spinner-color="white"
            contain/>
        </div>
        <div class="col-6 work-block-for-two">
          <PatientShortInfo v-bind="{clientInfo: patient, view: 1}"/>
          <div class="view_model">
            <View3dModel v-bind="{vtkid: 'vtkcontainer1', croppingVisibility: false}"/>
          </div>
        </div>

      </div>
    </div>
  </q-page>
</template>

<script>
import patientsData from '../../assets/patients.json'
import PatientShortInfo from '../tools/PatientShortInfo'
import View3dModel from '../tools/View3dModel'

export default {
  name: 'Patient',
  props: ['patient'],
  components: {
    PatientShortInfo,
    View3dModel
  },
  methods:{
    
  },
  data: function() {

    return {
    }
  },
}
</script>

<style lang="sass" scoped>
.view-area
  background-color: dark
.container
  background-color: dark
.work-block-for-two
  height: calc(100vh - 50px)
  display: flex;
  align-items: center;
  justify-content: center;

.work-block
  height: calc(50vh - 25px)

.q-img
  width: 100%

</style>
