<template>
    <div class="task_field">
        <div>
            <h2>vessel selection</h2>
            <p class="text-body1">Please select the vessels you wish to process</p>
        </div>
        <div>
            <q-list>
                <q-item tag="label" v-ripple>
                    <q-item-section avatar>
                        <q-checkbox v-model="val1" />
                    </q-item-section>
                    <q-item-section>
                        <q-item-label>LCA</q-item-label>
                        <q-item-label>LAD</q-item-label>
                        <q-item-label>LCX</q-item-label>
                    </q-item-section>
                    
                </q-item>
                <q-item tag="label" v-ripple>
                    <q-item-section avatar top>
                        <q-checkbox v-model="val2"/>
                    </q-item-section>
                    <q-item-section>
                        <q-item-label>RCA</q-item-label>
                    </q-item-section>
                </q-item>
            </q-list>
        </div>
    </div>
</template>
<script>

export default {
    methods: {
    },
    data() {
        return {
            val1: false,
            val2: false
        }
    }
}
</script>
<style lang="sass" scoped>

</style>