<template>
  <q-page>
      <div class="view_model"><View3dModel v-bind="{vtkid: 'vtkcontainer', croppingVisibility: false}"/></div>
  </q-page>
</template>

<script>
import patientsData from '../../assets/patients.json'
import PatientShortInfo from '../tools/PatientShortInfo'
import View3dModel from '../tools/View3dModel'

export default {
  name: 'Patient',
  components: {
    PatientShortInfo,
    View3dModel
  },
  methods:{
    
  },
  data: function() {
    console.log(this.$route.params.id);

    let patient = this.$store.state.selectedPatient;



    return {
       clientInfo: patient,
    }
  },
}
</script>

<style lang="sass" scoped>
.view_model
    height: calc(100vh - 51px)
    width: 100%

</style>