<template>
    <div dark class="instruction_field">
        <div class="instruction_header">Centerlines</div>
        <div class="instruction_content">
           <div class="">
                <q-option-group
                v-model="group"
                :options="options"
                color="teal"
                />
            </div> 
        </div>
    </div>
</template>

<script>
export default {
    data () {
        return {
        group: 'op1',
        options: [
            {
            label: 'RCA',
            value: 'op1'
            },
            {
            label: 'LCA',
            value: 'op2'
            },
        ]
        }
    }
}
</script>