<template>
  <q-page>
    <div class="container">
      <div class="row view-area" style="">
        <div class="col-6 work-block">
          <PatientShortInfo v-bind="{clientInfo: clientInfo, view: 0}"/>
          <q-img :src="imgSrc"

            spinner-color="white"
            contain/>

        </div>
        <div class="col-6 work-block">
          <PatientShortInfo v-bind="{clientInfo: clientInfo, view: 1}"/>
          <div class="view_model"><View3dModel v-bind="{vtkid: 'vtkcontainer1', croppingVisibility: false}"/></div>
        </div>
        <div class="col-6 work-block">
          <PatientShortInfo v-bind="{clientInfo: clientInfo, view: 2}"/>
          <q-img 
            :src="imgSrc"
            spinner-color="white"
            contain/>
        </div>
        <div class="col-6 work-block">
          <PatientShortInfo v-bind="{clientInfo: clientInfo, view: 3}"/>
          <q-img :src="imgSrc"
            spinner-color="white"
            contain/>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import patientsData from '../../assets/patients.json'
import PatientShortInfo from '../tools/PatientShortInfo'
import View3dModel from '../tools/View3dModel'

export default {
  name: 'Patient',
  components: {
    PatientShortInfo,
    View3dModel
  },
  methods:{
  },
  data: function() {
    console.log(this.$route.params.id);

    let patient = this.$store.state.selectedPatient;


    return {
       clientInfo: patient,
       imgSrc: this.$store.state.croppedImg

    }
  },
}
</script>

<style lang="sass" scoped>
.view-area
  background-color: dark
.container
  background-color: dark
.work-block-for-two
  height: calc(100vh - 50px)
  display: flex;
  align-items: center;
  justify-content: center;

.work-block
  height: calc(50vh - 25px)

// .q-img
//   width: 100%

.q-img
  height: 100%


</style>
