<template>
    <div dark class="instruction_field">
        <div class="instruction_header">Clipping</div>
        <div class="instruction_content">
            <p class="text-body1">Click PROCEED To Confirm The Current Clippings Or Edit Them As Needed.</p>
        </div>
    </div>
</template>