<template>
    <div dark class="instruction_field">
        <div class="instruction_header">Segmentations</div>
        <div class="instruction_content">
            <p class="text-body1">Click PROCEED To Confirm.</p>
        </div>
    </div>
</template>