<template>
  <q-page>
    <div class="container">
      <div class="row view-area" style="">
        <div class="col-7 work-block-for-two">
          <div class="view_model"><View3dModel v-bind="{vtkid: 'vtkcontainer4', croppingVisibility: false}"/></div>
        </div>
        <div class="col-5 work-block-for-two">
          <div class="view_model"><View3dModel v-bind="{vtkid: 'vtkcontainer5', croppingVisibility: false}"/></div>
        </div>

      </div>
    </div>
  </q-page>
</template>

<script>
import patientsData from '../../assets/patients.json'
import PatientShortInfo from '../tools/PatientShortInfo'
import View3dModel from '../tools/View3dModel'

export default {
  name: 'Patient',
  components: {
    PatientShortInfo,
    View3dModel
  },
  methods:{
    
  },
  data: function() {
    console.log(this.$route.params.id);

    let patient = this.$store.state.selectedPatient;

    return {
       clientInfo: patient,
    }
  },
}
</script>

<style lang="sass" scoped>
.view-area
  background-color: dark
.container
  background-color: dark
.work-block-for-two
  height: calc(100vh - 50px)
  display: flex;
  align-items: center;
  justify-content: center;

.work-block
  height: calc(50vh - 25px)

.q-img
  width: 100%

</style>