<template>
  <q-page>
    <div class="container">
      <div class="row view-area" style="">
        <div class="col-6 work-block">
          <PatientShortInfo v-bind="{clientInfo: clientInfo, view: 0}"/>
          <cropper
          classname="cropper"
          :src="require('../../statics/cardiacCT.png')"
          :stencil-props="{
            aspectRatio: 1/1,
          }"
          @change="change"
          ref="cropper1"
          >
          </cropper>
        </div>
        <div class="col-6 work-block">
          <div class="view_model"><View3dModel v-bind="{vtkid: 'vtkcontainer', croppingVisibility: true}"/></div>
        </div>
        <div class="col-6 work-block">
          <PatientShortInfo v-bind="{clientInfo: clientInfo, view: 2}"/>
          <cropper
          classname="cropper"
          :src="require('../../statics/cardiacCT.png')"
          :stencil-props="{
            aspectRatio: 1/1
          }"
          @change="change"
          ref="cropper2"
          ></cropper>
        </div>
        <div class="col-6 work-block">
          <PatientShortInfo v-bind="{clientInfo: clientInfo, view: 3}"/>
          <cropper
          classname="cropper"
          :src="require('../../statics/cardiacCT.png')"
          :stencil-props="{
            aspectRatio: 1/1
          }"
          @change="change"
          ref="cropper3"
          ></cropper>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import patientsData from '../../assets/patients.json'
import { Cropper, BoundingBox } from 'vue-advanced-cropper'
import PatientShortInfo from '../tools/PatientShortInfo'
import View3dModel from '../tools/View3dModel'

export default {
  components: {
    Cropper,
    BoundingBox,
    PatientShortInfo,
    View3dModel
  },
  name: 'Patient',
  methods:{
    change({coordinates, canvas}) {
      let dataUrl = canvas.toDataURL()
      this.$store.commit('selectCropp', {dataUrl})
      if(!this.coordinates || 
      this.coordinates.width != coordinates.width ||
      this.coordinates.height != coordinates.height ||
      this.coordinates.top != coordinates.top ||
      this.coordinates.left != coordinates.left){
        this.coordinates = coordinates;
        
        this.$refs.cropper1.setCoordinates( this.coordinates )
        this.$refs.cropper2.setCoordinates( this.coordinates )
        this.$refs.cropper3.setCoordinates( this.coordinates )
      }


      
    },
  },
  data: function() {
    console.log(this.$route.params.id, 123456);

    let patient = this.$store.state.selectedPatient;

    return {
      coordinates: {},
       clientInfo: patient,
       cropedImg: "img/cardiacCT.png",
       tempCropCoordinates: 0

    }
  },
}
</script>

<style lang="sass" scoped>
.view-area
  background-color: dark
.container
  background-color: dark
.work-block-for-two
  height: calc(100vh - 50px)
  display: flex;
  align-items: center;
  justify-content: center;

.work-block
  height: calc(50vh - 25px)

// .q-img
//   width: 100%

.q-img
  height: 100%

.cropper
	height: 99%;


</style>
