<template>
    <div dark class="instruction_field">
        <div class="instruction_header">Report</div>
        <div class="instruction_content">
            <q-btn label="Export" color="blue"/>
        </div>
    </div>
</template>