<template>
        <div dark class="instruction_field">
            <div class="instruction_header">Markers</div>
            <div class="instruction_content">
                <q-scroll-area
                    dark
                    class="bg-dark text-white rounded-borders marker_list"
                >
                    <div v-for="(marker,n) in markers" :key="n" class="q-px-sm markers_list">
                        <div class="row q-pa-sm marker_item">
                            <div class="marker_name">{{marker.name}}</div>
                            <div>
                                <q-btn
                                    color="negative"
                                    icon="restore_from_trash"
                                    class="delete_btn"
                                    @click="onDelete(n)"
                                />
                            </div>
                        </div>
                    </div>
                </q-scroll-area>
            </div>
        </div>
</template>

<script>
export default {
    methods: {
        onDelete: function(i){
            let newData = []
            this.markers.forEach((row, index) => {
                if (index != i) {
                    newData.push(this.markers[index])
                }
            })
            this.markers = newData
        },
    },
    data() {
        return {
            markers : [
                {
                    name: "LCA upstream",
                    coordinat: [1.3, 5.56, 3.45]
                },
                {
                    name: "LAD downstream",
                    coordinat: [1.3, 5.56, 3.45]
                },
                {
                    name: "LAD branch",
                    coordinat: [1.3, 5.56, 3.45]
                },
                {
                    name: "LAD branch",
                    coordinat: [1.3, 5.56, 3.45]
                },
                {
                    name: "LAD branch",
                    coordinat: [1.3, 5.56, 3.45]
                },
                {
                    name: "LCX downstream",
                    coordinat: [1.3, 5.56, 3.45]
                },
                {
                    name: "LCX branch",
                    coordinat: [1.3, 5.56, 3.45]
                },
                {
                    name: "LCX branch",
                    coordinat: [1.3, 5.56, 3.45]
                },
                {
                    name: "LCX branch",
                    coordinat: [1.3, 5.56, 3.45]
                },
                {
                    name: "RCA upstream",
                    coordinat: [1.3, 5.56, 3.45]
                },
                {
                    name: "RCA downstream",
                    coordinat: [1.3, 5.56, 3.45]
                },
                {
                    name: "RCA branch",
                    coordinat: [1.3, 5.56, 3.45]
                },
                {
                    name: "RCA branch",
                    coordinat: [1.3, 5.56, 3.45]
                },
                {
                    name: "RCA branch",
                    coordinat: [1.3, 5.56, 3.45]
                },
            ],
        }
    },
}
</script>

<style lang="sass" scoped>
.marker_list
    height: 262px; 
    max-width: 300px;
.marker_item
    justify-content: space-between;
    .marker_name
        margin-top: auto
        margin-bottom: auto
</style>