<template>
    <div dark class="instruction_field">
        <div class="instruction_header">Blood pressure</div>
        <div class="instruction_content">
            <div class="inputs">
                <q-input @change="BP1toParent"  label-color="white" class="q-pt-sm" dark dense filled label="SYSTOLIC BP (mm Hg)" v-model="systolicBP"/>
                <q-input @change="BP2toParent" label-color="white" class="q-pt-sm" dark dense filled label="DIASTOLIC (mm Hg)" v-model="diastolicBP"/>
            </div>
            <div class="options column">
                <q-radio @input="setOption1(option1)" color="teal" class="q-pt-sm" dark dense text-left v-model="option1" val="ffr" label="FFR"></q-radio>
                <q-radio @input="setOption1(option1)" color="teal" class="q-pt-sm" dark dense v-model="option1" val="ifr" label="IFR"></q-radio>
            </div>
            <div class="options column">
                <q-radio @input="setOption2(option2)" color="teal" class="q-pt-sm" dark dense text-left v-model="option2" val="lca" label="LCA+RCA"></q-radio>
                <q-radio @input="setOption2(option2)" color="teal" class="q-pt-sm" dark dense v-model="option2" val="rca" label="RCA"></q-radio>
            </div>
        </div>
    </div>
    
</template>
<script>

export default {
    
    props: ['systolicCheck','diastolicCheck'],
    methods: {
    },
    data(){
        return{
            pop_up: false,
            option1: "ffr",
            option2: "lca",
            systolicBP: "",
            diastolicBP: ""
        }
    },
    methods: {
        BP1toParent: function(){
            this.$store.dispatch('setSystolicBP', this.systolicBP)
            this.systolicCheck(this.systolicBP)

        },
        BP2toParent: function(){
            this.$store.dispatch('setDiastolicBP', this.diastolicBP)
            this.diastolicCheck(this.diastolicBP)

        },
        setOption1: function(option1){
            this.$store.dispatch('setOption1', this.option1)
        },
        setOption2: function(option2){
            this.$store.dispatch('setOption2', this.option2)
        }
    },
    created: function () {
        this.$store.dispatch('setOption1', this.option1)
        this.$store.dispatch('setOption2', this.option2)
    }
}
</script>
<style lang="sass" scoped>
.options
    padding-top: 18px
    .column
.inputs
    .q-input
        padding-top: 10px
</style>