<template>
    <div class="patientPanel column">
        <div class='logo col-1'>
            <q-img
                src="../statics/MainLogo.png"
            />
        </div>
        <q-card dark class="patientInf q-pa-sm"
            >
            <div class = "patient_properties_names q-pr-sm">
                <div>
                    Name:
                </div>
                <div>
                    Id:
                </div>
                <div>
                    Date of Birth:
                </div>
                <div>
                    Exam Date:
                </div>
                <div>
                    Time:
                </div>
                <div>
                    Protocol:
                </div>
            </div>
            <div class = "patient_properties_data">
                <div>
                    {{patient.name}}
                </div>
                <div>
                    {{patient.id}}
                </div>
                <div>
                    {{patient.dob}}
                </div>
                <div>
                    {{patient.date}}
                </div>
                <div>
                    {{patient.time}}
                </div>
                <div>
                    {{patient.protocol}}
                </div>
            </div>
        </q-card>
        <div dark class="row tools">
            <q-btn class="col-3" icon="" />
            <q-btn class="col-3" icon="text_fields" />
            <q-btn class="col-3" icon="img:statics/icons/cut-solid.svg" />
            <q-btn class="col-3" icon="edit" />
            <q-btn class="col-3" icon="img:statics/icons/eraser-solid.svg" />
            <q-btn class="col-3" icon="img:statics/icons/ruler-solid.svg" />
            <q-btn class="col-3" icon="img:statics/icons/mouse-pointer-solid.svg" />
            <q-btn class="col-3" icon="img:statics/icons/print-solid.svg" />
            <q-btn class="col-3" icon="" />
            <q-btn class="col-3" icon="" />
            <q-btn class="col-3" icon="img:statics/icons/mouse-pointer-solid.svg" />
            <q-btn class="col-3" icon="pan_tool" />
            <q-btn class="col-3" icon="camera_alt" />
            <q-btn class="col-3" icon="" />
            <q-btn class="col-3" icon="zoom_in" />
        </div>
    </div>
</template>
<script>
export default {
    name: 'PatientInfo',
    props: {
        patient: {
            type: Object,
            required: true
        }
    }
}
</script>
<style lang="sass" scoped>
.logo
    height: 100px
    display: flex;
    justify-content: center;
    //background-color: #6b6b6b;
    background-color: $grey-6;
    border-radius: 4px;
    .q-img
        max-height: 84px;
        max-width: 68px;
        margin-top: 7px;

.q-card
    
.patientInf
    display: flex
    margin-top: 8px
    background-color: primary
    .patient_properties_names
        font-weight: 600;
.tools
    padding: 10px 0
    width: 100%
    .q-btn
        border-radius: 0
        border: 1px solid black
        width: 20%;
        
</style>
