<template>
  <q-layout dark view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title class="text-center">
          <div class = "logo_container">
            <q-img
                src="../statics/MainLogo.png"
                class = "logo"
            />
          </div>
          </q-toolbar-title>

        <div>{{ todaysDate }}</div>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { date } from 'quasar'

export default {
  name: 'MainLayout',

  components: {
  },

  data () {
    return {
      leftDrawerOpen: false,
      menuList: [
        {
          icon: 'list',
          label: 'Patients List',
          separator: true
        }
      ],
    }
  },

  computed: {
    todaysDate () {
      const timeStamp = Date.now()
      const formattedString = date.formatDate(timeStamp, 'D MMM')
      return formattedString
    }
  }
}
</script>

<style lang="sass" scoped>
.q-toolbar__title
  display: flex;
  justify-content: center;
.logo_container
  background-color: $grey-6;
  border-radius: 10px;
  width: 60px

.logo
  max-height: 41px;
  max-width: 34px;
  margin: 3px;
</style>
