<template>
  <q-layout class="bg-black text-white overflow-hidden" view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title>
          {{patient.name}}
        </q-toolbar-title>
        <div>{{ todaysDate }}</div>
      </q-toolbar>
    </q-header>

    <q-drawer
            v-model="leftDrawerOpen"
            show-if-above
            :width="260"
            :breakpoint="800"
            bordered
            dark
            content-class="bg-secondary"
          >
      <div class="patient_drawer column">  
        <!-- <q-scroll-area class="fit">
          
        </q-scroll-area> -->
        <PatientInfo 
          v-bind="{patient: patient}"
        />
        <div class="patient_step">
          <!-- <task
          v-for="(task, key) in tasks"
          :key="key"
          :task="task"
          :id="key"></task> -->
          <PatientS1Instruction v-if="instStep == 1"/>
          <PatientS2Instruction v-if="instStep == 2"
            v-bind="{systolicCheck: systolicCheck, diastolicCheck: diastolicCheck}"
          />
          <PatientS3Instruction v-if="instStep == 3"/>
          <PatientS4Instruction v-if="instStep == 4" />
          <PatientS5Instruction v-if="instStep == 5" />
          <PatientS6Instruction v-if="instStep == 6" />
          <PatientS7Instruction v-if="instStep == 7" />
          <PatientS8Instruction v-if="instStep == 8" />
          <div class="task_btns row absolute-bottom">
              <q-btn class="col-6" color="negative" label="cancel" @click="onCancelClick"/>
              <q-btn v-if="instStep != 8" class="col-6" color="positive" label="proceed" @click="onProceedClick"/>
              <q-btn v-if="instStep == 8" class="col-6" color="positive" label="exit" @click="onExitClick"/>
          </div>
        </div>
      </div>
    </q-drawer>

    <q-page-container>
      <!-- <router-view /> -->
      
      <PatientS1 v-if="step == 1" v-bind="{patient: patient}"/>
      <PatientS2 v-if="step == 2"/>
      <PatientS3
        v-if="step == 3"
        v-bind="{patient: patient}"
      />
      <PatientS4 v-if="step == 4"/>
      <PatientS5 v-if="step == 5"/>
      <PatientS6 v-if="step == 6"/>
      <PatientS7 v-if="step == 7"/>
      <q-dialog v-model="warning" persistent>

            <q-card dark>
            <q-card-section class="row items-center">
                <div class="pop-up_info">
                <div class="pop-up_header2 text-center">Missing values</div>
                <div class="pop-up_container">
                    <div class="pop-up_text">Please complete your entry or the system will automatically default to 100mm Hg avearedge blood pressure </div>
                </div>
                </div>
            </q-card-section>
            <q-card-actions align="right">
                <q-btn flat label="Ok" color="positive" @click="onWarningSubmit"/>
                <q-btn flat label="Cancel" color="negative" v-close-popup/>
            </q-card-actions>
            </q-card>
      </q-dialog>
    </q-page-container>
  </q-layout>
</template>

<script>
import { date } from 'quasar'
import { mapGetters } from 'vuex'

import patientsData from '../assets/patients.json'
import PatientS1 from '../components/steps/PatientS1'
import PatientS2 from '../components/steps/PatientS2'
import PatientS3 from '../components/steps/PatientS3'
import PatientS4 from '../components/steps/PatientS4'
import PatientS5 from '../components/steps/PatientS5'
import PatientS6 from '../components/steps/PatientS6'
import PatientS7 from '../components/steps/PatientS7'

import PatientInfo from '../components/PatientInfo'
import PatientS1Instruction from '../components/steps/PatientS1Instruction'
import PatientS2Instruction from '../components/steps/PatientS2Instruction'
import PatientS3Instruction from '../components/steps/PatientS3Instruction'
import PatientS4Instruction from '../components/steps/PatientS4Instruction'
import PatientS5Instruction from '../components/steps/PatientS5Instruction'
import PatientS6Instruction from '../components/steps/PatientS6Instruction'
import PatientS7Instruction from '../components/steps/PatientS7Instruction'
import PatientS8Instruction from '../components/steps/PatientS8Instruction'

export default {
  name: 'MainLayout',
  methods: {
    onProceedClick: function(){

      if(this.instStep == 1){
        this.instStep = this.instStep + 1
      }
      else if(this.instStep == 2){
        if ((this.systolicBP.trim())&&(this.diastolicBP.trim())){
          this.step = this.step + 1
          this.instStep = this.instStep + 1
          this.systolicBP = ''
          this.diastolicBP = ''
          
        } else {
            this.warning = true
          }
      }
      else {
        this.step = this.step + 1
        this.instStep = this.instStep + 1
      }
    },
    onExitClick: function(){
      this.$router.push("/")
    },
    onCancelClick: function(){
        if (this.step == 1 && this.instStep == 1) {
          this.$router.push("/")
        }
        else{
          if(this.instStep == 2){
            this.instStep = this.instStep - 1
          }
          else{
            this.step = this.step - 1
            this.instStep = this.instStep - 1
          }
        } 
    },
    onWarningSubmit: function(){
      this.step = this.step + 1
      this.instStep = this.instStep + 1
      this.warning = false;
    },
    systolicCheck: function(blp1){
      this.systolicBP = blp1
    },
    diastolicCheck: function(blp2){
      this.diastolicBP = blp2
    },
  },
  components: {
    PatientS1,
    PatientS2,
    PatientS3,
    PatientS4,
    PatientS5,
    PatientS6,
    PatientS7,
    PatientInfo,
    PatientS1Instruction,
    PatientS2Instruction,
    PatientS3Instruction,
    PatientS4Instruction,
    PatientS5Instruction,
    PatientS6Instruction,
    PatientS7Instruction,
    PatientS8Instruction,
  },

  data: function() {
    let step = 1;
    let patient = this.$store.state.selectedPatient;

    if(!patient || !patient.id){
      
      patientsData.patients.forEach(item => {
        console.log(item.id, this.$route.params.id)
        if(item.id === parseInt(this.$route.params.id)) {
          patient = item;
          this.$store.commit('selectPatient', {patient})
        }
      })
    }

    console.log(patient);
    let renderData = {
      leftDrawerOpen: false,
      patient: patient,
      step: step,
      instStep: 1,
      systolicBP: "",
      diastolicBP: "",
      warning: false
    }
    

    return renderData
  },

  computed: {
    todaysDate () {
      const timeStamp = Date.now()
      const formattedString = date.formatDate(timeStamp, 'D MMM')
      return formattedString
    },
    tasks() {
      return this.$store.getters['tasks/tasks']
    },
    info() {
      return this.$store.getters['info/info']
    },
    // ...mapGetters('info',['info'])
  }
}
</script>
<style lang="sass">
.container
  background-color: black

.drawer
.task_field
.view-area
  .patient-info
    z-index: 1;
    width: 130px;
    display: flex
    font-size: 11px;
    .patient-info_property
      padding-right: 4px
      font-weight: 600
  .work-block
    height: calc(50vh - 25px)
    position: relative
    .view_model
      height: 100%
  .work-block-for-two
    height: calc(100vh - 50px)
    display: flex;
    align-items: center;
    position: relative
    justify-content: center;
    .view_model
      width: 100%

.task_btns
  justify-content: space-between;
  display: flex;
  .q-btn
    border-radius: 0
.patient_drawer
  padding: 0 12px
.patient_step
  padding-top: 25px


.instruction_field
  padding-bottom: 43px;
  .instruction_header
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 5px;
.options
</style>
